body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;

}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;

}

.container img {
    width: 100%;
    border-radius: 20px;
}

.container h2 {
    color: hsl(218, 44%, 22%);
}

.container p {
    color: hsl(220, 15%, 55%)
}